html, body {
  padding: 0;
  margin: 0;
}

body, #root, .main-tabs, .main-tabs .ant-tabs-content {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.console-tab {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.console-view-container {
  flex: 1;
  display: flex;
  align-items: stretch;
  overflow-y: auto;
}

.console-input-container {

}
